body{
    background-color: #96005aaf;
    font-family: sans-serif;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 7.5%;
}

.card{
    box-shadow: 5px 5px 10px 5px #3f1628;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
}

.card-top{
    text-align: center;

}

.card-group{
    margin-bottom: 10px;
}

.imglogin{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    box-shadow: 1px 1px 5px #a9a9a9;
}

.title{
    color: #3f1628;
}

.card-group > label{
    width: 100%;
    color: rgb(0, 0, 0);
    display: block;
    padding-bottom: 5px;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 20px;
    padding: 5px;
}

.place{
    width: 100%;
    height: 100px;
}

.card-group-file{
    padding-top: 10px;
    padding-bottom: 10px;;
}

.card-group > button{
    background-color: #3f1628;
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    margin-left: 25%;
    font-size: 17px;
    border: 0px;
    outline: 0;
}