body{
    background-color: #96005aaf;
    font-family: sans-serif;
}

.form{
    width: 50%;
    margin: auto;
    padding-top: 7.5%;
}

.card{
    background-color: #ffffff;
    padding: 5px;
    padding-left: 20px;
}

.item1 { grid-area: img; }
.item2 { grid-area: main; }
.item3 { grid-area: price; }
.item4 { grid-area: remo; }

.grid-container {

    display: grid;
    width: 50%;
    margin: auto;
    grid-template-areas:
        'img main main main main main main price remo';
    grid-gap: 0px;
    margin-top: 0.5%;
}

.grid-container > div {
    background-color: white;
    padding: 10px;
    margin-bottom: 0px;
}

.card-img-top{
    width: 70px;
    height: 70px;
    margin-left: 0;
    margin-top: 1.5%;
    margin-left: 1.5%;
    border-radius: 35px;
    box-shadow: 1px 1px 5px #a9a9a9;
}

.card-title{
    margin-top: 5.5%;
}

.card-price{
    margin-top: 15.5%;
    margin-left: 0%;
    font-size: 20px;
}

.button{
    background-color: #3f1628; 
    width: 60%;
    border-radius: 30px;
    padding: 10px;
    color: white;
    margin-left: 0%;
    font-size: 15px;
    border: 0px;
    margin-top: 12.5%;
    margin-left: 40%;
}