body{
    background-color: #96005aaf;
    font-family: sans-serif;
}

.form{
    width: 60%;
    margin: auto;
    padding-top: 7.5%;
}

.card{
    box-shadow: 5px 5px 10px 5px #3f1628;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
}

.imgquemsomos{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgcertificados{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    height: 15px;
    background-color: #3f1628;
    position: absolute;
    margin-left: -0.4%;
    padding: 0;
    bottom: 0;
    width: 100%;
}